@charset "UTF-8";
@font-face {
  font-family: "quicksand";
  src: "https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap"; }

body {
  font-family: 'Quicksand', sans-serif;
  /* .inspo-container {
    width: 100%;
    height: 150px;
    
@font-face {
    font-family: "quicksand";
    src: "https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap"; 
}
  
body {
font-family: 'Quicksand', sans-serif; 

    // Navbar
    .navbar {
        // margin-top: 5px;
        // margin-bottom:  5px;
        padding: 0;
        width: 100%;
        background:   #e0ffff; 
    }
    .main-nav {
        padding: 0px;
        margin: 0 auto;

}*/ }
  body a {
    color: rgba(119, 118, 118, 0.87); }
    body a :hover {
      color: red; }
  body .static-header img {
    width: 100%; }
  @media (min-width: 1200px) {
    body .static-header {
      display: none; } }
  body .carusel_h1 {
    position: absolute;
    right: 3%;
    z-index: 10;
    top: 15%;
    color: #474747;
    font-size: 25px; }
    @media (min-width: 600px) {
      body .carusel_h1 {
        font-size: 30px;
        right: 7%;
        top: 18%; } }
    @media (min-width: 820px) {
      body .carusel_h1 {
        font-size: 40px;
        right: 8%;
        top: 20%; } }
    @media (min-width: 1200px) {
      body .carusel_h1 {
        font-size: 50px;
        right: 11%;
        top: 32%; } }
  body .carusel_p {
    position: absolute;
    text-align: center;
    right: 6%;
    z-index: 10;
    top: 21%;
    color: #474747;
    font-size: 10px; }
    @media (min-width: 600px) {
      body .carusel_p {
        font-size: 15px;
        right: 5%;
        top: 25%; } }
    @media (min-width: 820px) {
      body .carusel_p {
        font-size: 22px;
        right: 6%;
        top: 28%; } }
    @media (min-width: 1200px) {
      body .carusel_p {
        font-size: 23px;
        right: 11%;
        top: 43%; } }
  body .headerBtn {
    position: absolute;
    width: 80px;
    font-size: 11px;
    z-index: 10;
    right: 10%;
    top: 26%; }
  body .carousel_bloomit {
    position: relative;
    margin-right: 0;
    margin-left: 0;
    padding: 0; }
    @media (max-width: 600px) {
      body .carousel_bloomit {
        display: none; } }
    @media (min-width: 600px) {
      body .carousel_bloomit {
        display: none; } }
    @media (min-width: 820px) {
      body .carousel_bloomit {
        display: none; } }
    @media (min-width: 1200px) {
      body .carousel_bloomit {
        display: inline; } }
  body .bloomitInfo {
    padding-right: 10px; }
  body .section-content {
    background-color: #dadada; }
    body .section-content .content-box {
      height: 100%; }
      body .section-content .content-box .icon {
        margin-top: 20px;
        font-size: 40pt;
        margin-left: 18pt; }
  body .imgcontainer {
    margin-top: 40px;
    margin-bottom: 40px; }
    body .imgcontainer .imgWrapper {
      padding: 0;
      padding: 5px; }
      body .imgcontainer .imgWrapper .inspoimg {
        width: 100%; }
    body .imgcontainer .shopbtn {
      width: 170px;
      font-size: 16pt; }
  body .contentcontainer {
    text-align: center; }
    body .contentcontainer span {
      margin: 5px; }
  @media screen and (max-width: 800px) {
    body .myDiv {
      width: 100%; }
    body .navbar .imglogga {
      height: 100;
      width: 300px; }
    body .navbar .imglogga .navbar-brand {
      color: #212121;
      cursor: pointer; }
    body .navbar-collapse {
      justify-content: flex-end; }
    body .navbar-collapse .nav-item {
      margin-top: 10px; }
    body .navbar-collapse .nav-item .nav-link {
      color: #212121;
      margin-right: 0px !important;
      font-weight: bold; }
    body .navbar-collapse .nav-item .nav-link .nav-link:hover {
      color: #28A745; } }

@media screen and (max-width: 800px) and (max-width: 600px) {
  body .carousel_bloomit {
    display: none; } }
  @media screen and (max-width: 800px) {
    body .terms {
      margin-right: 5px;
      padding: 5px; }
    body .SoMe {
      margin-right: 10px; }
    body .soMe_container {
      display: flex;
      justify-content: end; }
    body #footer_container {
      position: relative; }
    body .footerlogo {
      width: 100%; } }
