@import "mixin.scss";
@import "colors.scss";

.categoryName{
    font-size: 25px;
    z-index: 2;
    @include mini-tablet{
        font-size: 32px;
    }
    @include tablet{
        font-size: 40px;   
    }
    @include mini-desktop{
        font-size: 50px;
    }
    @include desktop{
        font-size: 54px;
    }
}
#CategoryDiv{
    text-align: center;
    position: absolute;
    top: 25px;
    right: 30px;
    width: 45%;
    @include mini-tablet{
        top: 43px;
    }
    @include tablet{
        top: 60px;
    }
    @include mini-desktop{
        top: 80px;    
    }
    @include desktop{
        top: 115px;
        right: 32px;
    }
}
.productWrapper {
    padding: 0;
    padding: 5px;
    text-align: center;
    .productImg{
        width: 100%;
    }
    .btnInfo{
        border-style: none;
        margin-right: 5px;
        color: $footertext;
    }
    .borderLine{
        width: 40px;
        border-left: black solid 1px;
        @include desktop{
            margin-left: 10px;
        }
    }
    .QuickBtn{
        border-style: none;
        color: $footertext;
        margin-left: 5px;
        @include desktop{
            margin-left: 10px;
        }
    }
}
