$headerTextColor: rgb(56, 55, 55);

@mixin phone {
    @media (max-width: 600px) { @content; }    
}
@mixin mini-tablet {
    @media (min-width: 600px) { @content; }    
}
@mixin tablet {
    @media (min-width: 820px) { @content; }    
}
@mixin mini-desktop {
    @media (min-width: 1000px) { @content; }
}
@mixin desktop {
    @media (min-width: 1200px) { @content; }    
}

.categoryName{
    font-size: 25px;
    z-index: 2;
    @include mini-tablet{
        font-size: 32px;
    }
    @include tablet{
        font-size: 40px;   
    }
    @include mini-desktop{
        font-size: 50px;
    }
    @include desktop{
        font-size: 54px;
    }
}

#CategoryDiv{
    text-align: center;
    position: absolute;
    top: 70px;
    right: 23px;
    width: 45%;

    @include mini-tablet{
        top: 100px;
    }
    @include tablet{
        top: 130px;
    }
    @include mini-desktop{
        top: 160px;    
    }
    @include desktop{
        top: 200px;
    }
}
.productWrapper {
    padding: 0;
    padding: 5px;
    text-align: center;

    .productImg {
        width: 100%;
    }
}
