@import "mixin.scss";
@import "colors.scss";


.cartBody{
    margin-top:50px;
}

.cartheader {
    text-align: center;
}
.cartwrapperText {
    border-bottom: 2px solid darkgrey;
    
}

.cartWrapper {
    margin-top:30px;
   

    .cartProductDiv {
        
        .cartProductImg {
            margin-top:10px;
            
        }
    
        .cartProductInfo {
            margin-top:10px;

            .countBtnMinus {
                font-size: 35px;
            }
           .countBtnPlus {
               font-size: 30px;
           }
        }

          
        .cartProductDeleteBtn {
            
            .cartDeleteBtn {
          
                width: 100%;
                font-size: 35px;
                
            }
        }
    }

    .cartTotals {
        height: 400px; 
        border-left: 1px solid darkgrey;
        
       
        .totalPriceDiv {
            text-align: end;
        }
    }


    .addToCheckoutBtnDiv {
        text-align: center;
        margin-top:20px;

        .addToCheckoutBtn {
            width: 90%;
        }
    }
}
