$navbarBG: white;
$inspoimg: pink;
$footerBG: #cecdcd;
$footerBG2: #cecdcd;
$linkcolor: rgba(119, 118, 118, 0.87);
$linkhover: rgb(39, 38, 38);
$headerTextColor: rgb(56, 55, 55);
$red: red;
$green: rgb(103, 126, 103);
$blue: blue;
$background: rgba(241, 237, 237, 0.856);