$navbarBG: white;
$inspoimg: pink;
$footerBG: rgb(229, 226, 226);
$footerBG2: rgba(148, 147, 147, 0.856);
$linkcolor: rgba(66, 65, 65, 0.87);
$linkhover: rgb(39, 38, 38);
$headerTextColor: rgb(56, 55, 55);
$red: red;
$green: rgb(103, 126, 103);
$blue: blue;
$line: rgba(148, 147, 147, 0.856);
$background: rgba(241, 237, 237, 0.856); 
$paymentBackground: whitesmoke;
$footertext: rgba(66, 65, 65, 0.87);
$loadingbackground: white;