$navbarBG: white;
$inspoimg: pink;
$footerBG: #e7e6e6;;
$linkcolor: rgba(119, 118, 118, 0.87);
$linkhover: rgb(39, 38, 38);
$headerTextColor: rgb(56, 55, 55);
$red: red;
$green: green;
$blue: blue;
$footerBG2: rgb(100, 100, 100);