@import "colors.scss";
@import "mixin.scss";

.section-content {
    background-color: $footerBG;
    .contentbox {
        margin-top:10px;
    }
    .iconDiv {
        text-align: center;
        padding-right: 2px;
        .icon {
            font-size: 25pt;
            margin-top: 5px;
            @include mini-tablet{
            }
        }
    }
    h6 {
        font-size: 12pt;
    }
    p {
        font-size: 10pt;
    }
}
