@import "colors.scss";
@import "mixin.scss";


 // Section delivery info
  .section-content {
    background-color: $footerBG;
    

    .contentbox {
        margin-top:10px;
    }
    .icon {
        font-size: 30pt;
        margin-top: 5px;
        @include mini-tablet{

        }
    }
    
    h6 {
        font-size: 12pt;
        
    }
    p {
        font-size: 10pt;
    }
}