@import "mixin.scss";
@import "colors.scss";

#caruselContainer {
    position: absolute;
        right: 5%;
        z-index: 10;
        top: 10%;
        color:$headerTextColor;
        text-align: center;
        width: 54%;
    
        @include mini-tablet{
            top: 16%;
            right: 3%; 
            width: 56%;
        }

        @include tablet{
            top: 22%;
            right: 10%;
            width: 45%;
        }

        @include desktop {
            top: 30%;
            width: 40%;
            right:15%;
        }
    .carusel_h1{
        font-size: 20pt;

        @include mini-tablet{
            font-size: 30px;
            
        }
        @include tablet{
            font-size: 40px;
            
        }
        @include desktop{
            font-size: 50px;
        }
    } 

    .carusel_p{
        font-size: 12pt;

        @include mini-tablet{
            font-size: 14pt;
        }
        @include tablet{
            font-size: 22px;
           
        }
        @include desktop{
            font-size: 28px;
           
        }
    }

    .headerBtn{
        font-size: 12pt;
        padding: 2px;
        width: 80px;
        color: $headerTextColor;
        border: 2px solid;
        z-index: 15;

        @include mini-tablet{
            font-size: 14pt;
            width: 100px;
        }

        @include tablet {

            top: 300%;
        }

        @include desktop{

            top:100%;
        }
    }
}

// Header statisk bild mobil och tablet 
.static-header {
    img {
        width: 100%;
    }
    @include desktop{
        display: none;
    }
}
.static-header2 {
    img {
        width: 100%;
 
    }
    
}


//Bild carusell
.carousel_bloomit {
    position: relative;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    @include phone{
        display: none;
    }
    @include mini-tablet{
        display: none;
    }  
    @include tablet{
        display: none;
    }
    @include desktop{
        display: inline;
    }

    .nomargin {
        padding:0;
    }
}
