// Inspiration img 
@mixin phone {
    @media (max-width: 600px) { @content; }    
}
@mixin mini-tablet {
    @media (min-width: 600px) { @content; }    
}
@mixin tablet {
    @media (min-width: 820px) { @content; }    
}
@mixin desktop {
    @media (min-width: 1200px) { @content; }    
} 

body {
.imgcontainer {
    margin-top: 5px;
    margin-bottom: 10px;

    @include tablet {
        margin-top: 20px;
    }

    .imgWrapper {
        padding: 0;
        padding: 5px;
    
        .inspoimg {
            width: 100%;
        }
    }
    .shopbtn {
        width: 170px;
        font-size: 16pt;
    }
}
}