// Navbar
.main-nav {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    font-size: 15px;

    .navbar-right {
        padding: 0;
        width: 100%;
        background: $navbarBG;

    }
   
    }
    .navbar-right .imglogga {
        height: 20;
        width: 50px;
        
    }
    .navbar-right .imglogga .navbar-brand {
        color: #212121;
        cursor: pointer; 
    }
    .nav-img {
        height: 30px;
        padding-top: 3px;
        display: flex;
        position: absolute;
        left: 2%;
        // justify-content:
        // padding-top: 15px;
        // padding-left: 15px;
    }
    .nav-item {
        padding-right: 15px;
    }
    .nav-link {
        text-align: end;
    }
    .navbar-collapse .nav-item .nav-link {
        color: #212121;
        margin-right: 0px !important;
        // font-weight: bold; 
        
    }
    .navbar-collapse .nav-item .nav-link .nav-link:hover {
        color: #28A745; 
    }
    .navbar-nav {
        justify-content: flex-end;
    }

