// Navbar
$navbarBG: white;

.main-nav {
    position: relative;
    margin: 0 auto;
    width: 100%;
    font-size: 15px;
    margin-top:10px;

    .navbar-right {
        width: 100%;
        background: $navbarBG;

        .navbar-nav {
            justify-content: flex-end;
        }
    
        .nav-img {
            height: 30px;
            padding-top: 3px;
            display: flex;
            position: absolute;
            left: 2%;
        }
        .nav-item {
            padding-right: 15px;
    
            .nav-link {
                text-align: end;
            }
        }
    }
}