@import "colors.scss";
@import "mixin.scss";

.main-nav {
    position: relative;
    margin: 0 auto;
    width: 100%;
    font-size: 15px;
    margin-top:10px;
    background-color: $background;

    .navbar-right {
        width: 100%;
        background: $navbarBG;
        background-color: $background;

        .navbar-nav {
            justify-content: flex-end;
        }
    
        .nav-img {
            height: 30px;
            padding-top: 3px;
            display: flex;
            position: absolute;
            left: 2%;
        }
        .nav-item {
    
            .nav-link {
                text-align: end;
            }
        }
    }
}


footer {
    background-color: $footerBG;
    margin-top: 20px; 

    @include tablet {
        margin-top: 100px;
    }
   
    .footerdiv {
        height: 200px;

        @include tablet {
        height: 150px;
        padding: 20px;
        margin-bottom: 30px;
        margin-top:30px;
    }
        .div1 {
            text-align: center;

            p { 
                color: $footertext;
                margin-top: 35px;
            }
        }

        .div2 {
            text-align: center;
            @include tablet {
                border-left: 1px $line solid;
            }
            p {
                color: $footertext;
                margin-top: 35px;
            }
        }

        .div3 {
    
            text-align: center;

            @include tablet {
            border-left: 1px $line solid;
            border-right: 1px $line solid;
            }

            i {
                margin-top: 45px;
                color: $footertext;
            }
        }
        .div4 {
            height: 50%;
            text-align: center;
            margin-top:6px;

            @include tablet {
                height: 90%;
            }
            
            .footerlogo3 {
                height: 100%;
            }

        }
    }
    
    .footerlinks {
        background-color: $footerBG2;
        text-align: center;
        margin-top: 45px;
        
    }
    
}

 