@import "mixin.scss";

.oneProductWrapper{
    margin-bottom: 100px;
    margin-top: 40px;
}

.oneProductImg{
    border: black solid 1px;
    padding: 20px;
    @include desktop {
        margin-left: 60px;
    }
}

.oneProductDescription{
    border: black solid 1px;
    padding: 20px;
    // margin-top: 20px;
    @include mini-tablet{
        // margin-top: 0;
    }
    @include desktop{
        margin-right: 60px;
    }
} 
