$headerTextColor: rgb(56, 55, 55);

@mixin phone {
    @media (max-width: 600px) { @content; }    
}
@mixin mini-tablet {
    @media (min-width: 600px) { @content; }    
}
@mixin tablet {
    @media (min-width: 820px) { @content; }    
}
@mixin desktop {
    @media (min-width: 1200px) { @content; }    
}

#category_container{
    position: absolute;
    right: 2%;
    z-index: 10;
    top: 12%;
    color:$headerTextColor;
    text-align: center;
    width: 54%;

    @include mini-tablet{
        top: 14%;
        right: 1%;
        width: 56%;
    }
    @include tablet{
        top: 7%;
        right: 2%;
        width: 55%;
    }

    @include tablet{
        top: 20%;
        right: 1%;
        width: 55%;
    }
 
    @include desktop {
        top: 32%; 
    }
} 

.productWrapper {
    padding: 0;
    padding: 5px;
    text-align: center;

    .productImg {
        width: 100%;
    }
}