@import "navbarfooter.scss";
@import "header.scss";
@import "deliveryinfo.scss";
@import "inspoimg.scss";
@import "colors.scss";
@import "mixin.scss";
@import "all_products.scss";
@import "one_product_page.scss";
@import "cart.scss";


 

body {
    font-family: 'Quicksand', sans-serif; 
    margin:0;
    padding: 0;
    background: $background;

    .container-fluid {
        padding:0;

        .row {
            margin-left:0;
            margin-right: 0;
        }
    }


    a {
        color: $linkcolor;

        :hover{
            color: $linkhover;
        }   
    }

    //Content about us
    .contentcontainer {
        text-align: center; 
    }
    
    .testcontainer {
        background-color: pink;
        height: 400px;
    }
   
}
 


.testbox1 {
    background-color: blue;
    height: 200px;
}
.testbox2 {
    background-color: green;
    height: 200px;
}
.testbox3 {
    background-color: purple;
    height: 200px;
}