@import "navbarfooter.scss";
@import "header.scss";
@import "deliveryinfo.scss";
@import "inspoimg.scss";
@import "colors.scss";
@import "mixin.scss";
//@import "all_products.scss";

@mixin phone {
    @media (max-width: 600px) { @content; }    
}
@mixin mini-tablet {
    @media (min-width: 600px) { @content; }    
}
@mixin tablet {
    @media (min-width: 820px) { @content; }    
}
@mixin desktop {
    @media (min-width: 1200px) { @content; }    
}

$navbarBG: white;
$inspoimg: pink; 
$footerBG: #d3d3d3;;
$linkcolor: rgba(119, 118, 118, 0.87);
$linkhover: rgb(39, 38, 38);
$headerTextColor: rgb(56, 55, 55);
$red: red;
$green: green;
$blue: blue;
$footerBG2: rgb(39, 38, 38);
 

body {
    font-family: 'Quicksand', sans-serif; 
    margin:0;
    padding: 0;

    .container-fluid {
        padding:0;

        .row {
            margin-left:0;
            margin-right: 0;
        }
    }


    a {
        color: $linkcolor;

        :hover{
            color: $linkhover;
        }   
    }

    //Content about us
    .contentcontainer {
        text-align: center; 
    }
    
    .testcontainer {
        background-color: pink;
        height: 400px;
    }
   
}
 


.testbox1 {
    background-color: blue;
    height: 200px;
}
.testbox2 {
    background-color: green;
    height: 200px;
}
.testbox3 {
    background-color: purple;
    height: 200px;
}